<meta charset='utf-8'/>
<form action="/json" method="post">
<textarea style='width:100%;height:30%' name="json"><%=@json_s%></textarea>
<input type='submit' value='decode'/>
<a href='/'>return index</a>
</form>


<pre>
<%=@json%>
</pre>