<style>
input{width:400px}
</style>
<table>
<tr>
<td>MD5</td>
<td><input value="<%=@md5%>"/></td>
</tr>
<tr>
<td>SHA1</td>
<td><input value="<%=@sha1%>"/></td>
</tr>
<tr>
<td>BASE64</td>
<td><input value="<%=@base64%>"/></td>
</tr>
</table>
