<meta charset='utf-8'/>
<ol>
  <li><a href="/qrcode">二维码</a></li>
  <li><a href="/html">html预览</a></li>
  <li><a href="/hash">Hash</a></li>
  <li><a href="http://tool.oschina.net/apidocs">程序文档</a></li>
</ol>
